
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #f8f9fa;
    background: linear-gradient(to bottom, #212121, #333333); 
    padding: 0 20px;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background-color: #1f2937; 
    color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0px 12px rgba(0, 0, 0, 0.3);
}

header .logo {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #f8f9fa;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar ul li a,
.logoutButton {
    display: block;
    padding: 10px 20px;
    color: #f8f9fa;
    font-weight: 500;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 25px;
}

.navbar ul li a:hover,
.logoutButton:hover {
    background-color: #3b82f6; 
    color: white;
}


h1, h3 {
    text-align: center;
    color: #3b82f6; 
    margin-bottom: 20px;
    font-weight: 700;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 40px auto;
    background-color: #2d3748; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

table:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

td, th {
    border: 1px solid #3b82f6; 
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    color: #f8f9fa; 
}

th {
    background-color: #1f2937; 
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #444c56; 
}


#appointmentList {
    margin: 30px auto;
    width: 80%;
    background-color: #2d3748; 
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    color: #f8f9fa;
}


.cancelBtn, .videoBtn {
    border-radius: 8px;
    background-color: #3b82f6;
    padding: 10px 25px;
    color: white;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
}

.cancelBtn:hover, .videoBtn:hover {
    background-color: white;
    color: #3b82f6;
    border: 2px solid #3b82f6;
}


.timer.expired {
    color: #e53935; /* Red for expired */
    font-weight: bold;
}

.timer.current {
    color: #43a047; /* Green for current */
    font-weight: bold;
}

.timer.upcoming {
    color: #ff9800; /* Orange for upcoming */
    font-weight: bold;
}

